{% extends 'events/layouts/base.html' %}

{% block title %}Details for {{ event.name }} - {{ block.super }}{% endblock %}

{% block pagetitle %}<h1>{{ event.name }}</h1>{% endblock %}

{% block content %}


{% if user == event.organizer and not event_is_past %}
<div class="col-sm-offset-1 col-sm-8 admin-row">
  As the creator of this event, you may:
  <a href="/{{ event.id }}/edit" class="btn">Edit Event</a>
  <a href="/{{ event.id }}/delete" class="btn">Delete Event</a>
</div>
<br/>
{% endif %}
  
{% if user.is_authenticated and not event_is_past %}
<div class="container row link-row">
  <div class="col-sm-offset-6 col-sm-4">
  <form action="/{{ event.id }}/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-default">
    {% if event in user.events_attendees_set.all %}
      Withdraw from Event</button>
      <input type="hidden" name="action" value="withdraw">
    {% else %}
      Attend Event</button>
      <input type="hidden" name="action" value="attend">
    {% endif %}
  </form>
  </div>
</div>
<br/>
{% endif%}

<div class="container row">
  <div class="col-sm-offset-1 col-sm-7">
    <h2>Details</h2>
    <br/>
    <table class="table">
        <tr><th>Start Time:</th><td>{{ event.start_date }}</td></tr>
        {% if event.end_date %}
        <tr><th>End Time:</th><td>{{ event.end_date }}</td></tr>
        {% endif %}
        {% if event.location %}
        <tr><th>Location:</th><td>{{ event.location }}</td></tr>
        {% endif %}
        {% if event.description %}
        <tr><th>Description:</th><td>
          <p>{{ event.description }}</p>
        </td></tr>
        {% endif %}
        <tr><th>Organizer:</th><td>
          <p>{{ event.organizer }}</p>
        </td></tr>
    </table>
    {% if event.attendees %}
    <br/>
    <div class="col-sm-3"><b>Attendees</b>
      <ul class="list-unstyled col-sm-offset-3">
      {% for attendee in event.attendees.all %}
        <li>{{ attendee }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
