{% extends 'events/layouts/base.html' %}
{% load widget_tweaks %}

{% block title %}Delete Event - {{ block.super }}{% endblock %}

{% block pagetitle %}<h1>Delete an Event</h1>{% endblock %}

{% block content %}
<div id="content-main">
<br/>
  
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Details</h2>
      <br/>
      <table class="table">
        <tr><th>Event Name:</th><td>{{ event.name }}</td></tr>
        <tr><th>Start Time:</th><td>{{ event.start_date }}</td></tr>
        {% if event.end_date %}
        <tr><th>End Time:</th><td>{{ event.end_date }}</td></tr>
        {% endif %}
        {% if event.location %}
        <tr><th>Location:</th><td>{{ event.location }}</td></tr>
        {% endif %}
        {% if event.description %}
        <tr><th>Description:</th><td>
          <p>{{ event.description }}</p>
        </td></tr>
        {% endif %}
      </table>
      {% if event.attendees %}
      <br/>
      <div class="col-sm-3"><b>Attendees</b>
        <ul class="list-unstyled col-sm-offset-3">
        {% for attendee in event.attendees.all %}
          <li>{{ attendee }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  <br/>
  <form action="{% url 'event_delete' pk=event.id %}" method="post">
    {% csrf_token %}
    <div class="col-sm-offset-6 col-sm-5">
    <h3>Are you sure you want to delete this event?</h3>
    <button type="submit" class="btn btn-default col-sm-6">Delete Event</button>
    <a href="/" class="btn btn-default col-sm-offset-1 col-sm-4">Cancel</a>
    </div>
  </form>

</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">

</script>
{% endblock %}