{% extends 'events/layouts/base.html' %}

{% block title %}My Events - {{ block.super }}{% endblock %}

{% block pagetitle %}<h1>My Events</h1>{% endblock %}

{% block content %}
<div class="row container">
  <a href="{% url 'event_create' %}" class="link-row col-sm-offset-8 btn btn-default">
    Create Event
  </a>
  <br/><br/>
</div>

{% if organizing_list %}
<div class="row">
  <div class="col-sm-offset-1 col-sm-7">
    <h2>What I'm organizing</h2>
    <table class="table">
      <tr><th>Event Name</th><th>Date</th><th>Location</th>
    {% for event in organizing_list %}
      <tr><td><a href="{% url 'detail' event.id %}">{{ event.name }}</a></td>
        <td>{{ event.start_date }}
        {% if event.end_date %} - {{ event.end_date}}{% endif %}</td>
        <td>{% if event.location %}{{ event.location }}{% endif %}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-offset-1 col-sm-7">
    <h2>What I'm attending</h2>
    {% if attending_list %}
      <table class="table">
        <tr><th>Event Name</th><th>Date</th><th>Location</th>
      {% for event in attending_list %}
        <tr>
          <td><a href="{% url 'detail' event.id %}">{{ event.name }}</a></td>
          <td>{{ event.start_date }}
            {% if event.end_date %} - {{ event.end_date}}{% endif %}</td>
          <td>{% if event.location %}{{ event.location }}{% endif %}</td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
        <p>You aren't signed up for any events.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
