{% extends 'events/layouts/base.html' %}

{% load widget_tweaks %}

{% block title %}Password Change - {{ block.super }}{% endblock %}

{% block pagetitle %}<h1>Change your password</h1>{% endblock %}

{% block content %}
<div id="content-main">
  <form action="{% url 'user_password_change' %}" method="post">
    {% csrf_token %}
<div class="row">
<div class="col-sm-4 col-sm-offset-1">
  <div class="form-group">
    <label for="id_password">Current Password</label>
    {{ form.password|add_class:"form-control" }}
    {{ form.password.errors }}
  </div>
  <br/>
  <div class="form-group">
    <label for="id_password">New Password</label>
    {{ form.password_new|add_class:"form-control" }}
    {{ form.password_new.errors }}
  </div>
  <div class="form-group">
    <label for="id_password_confirm">Confirm Password</label>
    {{ form.password_confirm|add_class:"form-control" }}
    {{ form.password_confirm.errors }}
  </div>
</div>
</div>
<br/>
<div class="row">
  <div class="col-sm-offset-1 col-sm-4">
  <button type="submit" class="btn btn-default col-sm-6">Save Changes</button>
  <a href="{% url 'user_settings' %}" class="btn btn-default col-sm-5 col-sm-offset-1">Cancel</a>
  </div>
</div>
  </form>
</div>
{% endblock content %}

