{% extends 'events/layouts/base.html' %}

{% load widget_tweaks %}

{% block title %}Profile Settings - {{ block.super }}{% endblock %}

{% block pagetitle %}<h1>Profile Settings</h1>{% endblock %}

{% block content %}
<div id="content-main">
<div class="container row">
  <a class="link-row col-sm-offset-9" href="{% url 'user_password_change' %}">Change Password</a>
</div>
<br/>
  <form action="{% url 'user_settings' %}" method="post">
    {% csrf_token %}
<div class="row">
<div class="col-sm-offset-1 col-sm-4">
  <div class="form-group">
    <label for="id_username">Username</label>
    {{ form.username|add_class:"form-control" }}
  </div>
  <div class="form-group">
    <label for="id_first_name">First name</label>
    {{ form.first_name|add_class:"form-control" }}
  </div>
  <div class="form-group">
    <label for="id_last_name">Last name</label>
    {{ form.last_name|add_class:"form-control" }}
  </div>
  <div class="form-group">
    <label for="id_email">Email address</label>
    {{ form.email|add_class:"form-control" }}
    {{ form.email.errors }}
  </div>
  <div class="form-group">
    <label for="id_location">Location</label>
    {{ form.location|add_class:"form-control" }}
  </div>
</div>
<div class="col-sm-offset-1 col-sm-5">
  <div class="form-group">
    <label for="id_description">About Me</label>
    {{ form.description|add_class:"form-control" }}
  </div>
  <!-- <div class="form-group">
    <label for="id_tags">Tags</label>
    {{ form.tags|add_class:"form-control" }}
  </div> -->
</div>
</div>

  <div>
    <div class="col-sm-offset-6 col-sm-5">
    <button type="submit" class="btn btn-default col-sm-6">Save Changes</button>
    <a href="/" class="btn btn-default col-sm-offset-1 col-sm-4">Cancel</a>
    </div>
  </div>
  </form>
</div>
{% endblock content %}

