body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.login-panel {
  float: right;
  margin-right: 40px;
}

.login-panel a {
  margin-left: 10px;
}


.errornote {
  color: red;
  margin-bottom: 20px;
}

.errorlist li {
  color: red;
  list-style: none;
}

.input-textfield {
  width: 200px;
}

.navbar-wb .navbar-toggle {
  border-color: rgb(221, 221, 221);
  border-top-color: rgb(221, 221, 221);
  border-right-color-value: rgb(221, 221, 221);
  border-bottom-color: rgb(221, 221, 221);
  border-left-color-value: rgb(221, 221, 221);
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
}

.navbar-wb .navbar-toggle .icon-bar {
    background-color: rgb(66, 139, 202);
}

.navbar-wb .navbar-collapse {
    border-color: rgb(200, 200, 230);
}


@media screen and (max-width: 767px){

  .main {
    // margin-top: 120px;
  }


}