body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.login-panel {
  float: right;
  margin-right: 40px;
}

.login-panel a {
  margin-left: 10px;
}


.errornote {
  color: red;
  margin-bottom: 20px;
}

.errorlist li {
  color: red;
  list-style: none;
}

.input-textfield {
  width: 200px;
}